/* Navbar.css */
.navbar {
    margin-bottom: 20px; /* Add spacing between the navbar and content */
  }
  
  .navbar-brand {
    font-size: 24px; /* Increase the font size of the brand */
  }
  
  .nav-link {
    font-size: 18px; /* Increase the font size of the links */
    margin-right: 10px; /* Add spacing between the links */
  }
  
  .navbar-h5 {
    margin-left: 20px; /* Add spacing between the "Register/Login" text and the links */
  }

  /* navbar.css */

.navbar {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.fixed-top {
  background-color: #ffffff; /* Change to your desired background color */
  padding: 10px 0; /* Adjust padding as needed */
  box-shadow: 0 4px 6px -6px #999; /* Optional: Add a box shadow for a subtle effect */
}

/* Add this if you want to change the color of the navbar text on scroll */
.fixed-top a.navbar-brand,
.fixed-top a.nav-link {
  color: #000000; /* Change to your desired text color */
}

/* Add this if you want to change the color of the logout button on scroll */
.fixed-top .btn_input {
  background-color: #333; /* Change to your desired button color */
}

/* Add this if you want to change the color of the Register/Login link on scroll */
.fixed-top .navbar-h5 a {
  color: #000000; /* Change to your desired text color */
}

